@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Klee+One:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Klee+One:wght@400;600&family=Noto+Sans+JP:wght@100..900&display=swap');

* {
    margin: 0;
    border: 0;
    padding: 0;
}

body {
    background-color: #f8f7f6;
    font-family: "Noto Sans JP", sans-serif;
    color: #373737;
}

a {
    text-decoration: none;
}

.header_top {
    height: 100%;
}

header {
    background-color: transparent;
    color: #fff;
    position: absolute;
    top: 0;
    right: 10%;
    margin-top: 24px;
}

.header_list li{
    display: inline;
    list-style: none;
}
.header_list a{
    color: #fff;
    padding: 6px 12px 6px 12px;
    border: 1px solid #fff;
    border-radius: 10px;
    margin: 12px;
}

.box a {

    margin:0;
    padding:0;
    text-decoration: none;
    color: inherit;
    font-family: "Noto Sans JP", sans-serif;
    border-bottom: 1px solid;
    border-image: linear-gradient(to right, #35b876 0%, #1cbb3e00 100%);
    border-image-slice: 1;
}

.sidebar {
    position: sticky;
    width: 15%;
    top: 50%;
    left: 0;
    height: max-content;
    margin-right: 50px;
}

.sidebar nav {
    width: max-content;
    display: flex;
    align-items: center;
    margin-top: 50px;
    margin-left: 24px;
    margin-right: 5px;
    border: #000000;
    font-size: 24px;

}

.sidebar ul {
    list-style: none;
}

.sidebar li {
    margin-bottom: 50px;
    margin-left: 50px;
}

.head_img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.head_h1 {
    font-family: "Shippori Mincho", serif;
    position: absolute;
    top: 20%;
    right: 20%;
    font-size: 50px;
}
.head_h2 {
    font-family: "Shippori Mincho", serif;
    position: absolute;
    top: 30%;
    right: 20%;
    font-size: 30px;
}

.head_h3 {
    font-family: "Shippori Mincho", serif;
    position: absolute;
    top: 100%;
    right: 20%;
    font-size: 30px;
}

.slide-bottom {
    opacity: 0;
    transform: translateY(20px);
    transition: all 1.3s 0s ease-out;
  }

.main {
    display: inline-flex;
    flex-direction: row;
    width: 100%;

}

.contents {
    width: 85%;
    margin-top: 36px;
}

.title h2 {
    font-family: "Klee One", cursive;
    font-size: 56px;
    font-weight: 100;
}

.card {
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    margin-top: 48px;
}

.card:nth-child(2n) {
    flex-direction: row-reverse;
}

.card_img {
    border-radius: 30px;
    width: 50%;
    margin-right: 24px;
    box-shadow: 0px 10px 10px -6px rgba(0, 0, 0, 0.3);
}

.card_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card_text h1 {
    font-size: 36px;
}

.card_text p {
    font-size: 24px;
    text-align: center;
}

#myfave {
    height: 1000px;
}

.c-carousel {
    position: relative;
    width: 800px;
    margin: auto;
  }

  .c-carousel__activator-main {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }

  .c-carousel__main {
    overflow: hidden;
    position: relative;
  }

  .c-carousel__main-track {
    display: flex;
    white-space: nowrap;
    transition: transform 0.3s ease-out;
  }

  .c-carousel__main-item {
    flex-shrink: 0;
    width: 100%;
  }

  .c-carousel__main-image {
    display: block;
    width: 100%;
  }
  
  .c-carousel__main-control-item {
    display: none;
  }

  .c-carousel__btn-prev-main, .c-carousel__btn-next-main {
    position: absolute;
    top: 50%;
    right: 16px;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    transform: translateY(-50%);
    background-color: #000;
    border-radius: 50%;
    transition: opacity 0.3s;
    cursor: pointer;
  }

  .c-carousel__btn-prev-main {
    right: auto;
    left: 16px;
  }

  .c-carousel__activator-main:nth-child(1):checked ~ .c-carousel__main .c-carousel__main-control-item:nth-child(1) {
    display: block;
  }

  .c-carousel__activator-main:nth-child(2):checked ~ .c-carousel__main .c-carousel__main-control-item:nth-child(2) {
    display: block;
  }

  .c-carousel__activator-main:nth-child(3):checked ~ .c-carousel__main .c-carousel__main-control-item:nth-child(3) {
    display: block;
  }

  .c-carousel__activator-main:nth-child(1):checked ~ .c-carousel__main .c-carousel__main-track {
    transform: translateX(calc(-100% * 0));
  }

  .c-carousel__activator-main:nth-child(2):checked ~ .c-carousel__main .c-carousel__main-track {
    transform: translateX(calc(-100% * 1));
  }

  .c-carousel__activator-main:nth-child(3):checked ~ .c-carousel__main .c-carousel__main-track {
    transform: translateX(calc(-100% * 2));
  }